<% provide(:title, "Rules") %>
<h1>Rules</h1>
<p>
  The rules for the game come from <a href="http://www.timetravelreviews.com/smp/Rules.html">TimeTravelReview’s Summer Movie Pool</a>:
</p>
<p>
  The object is to pick the films that you think will be the top-ten grossing films of the summer, in order of box-office performance. As I’ve said, that means only films released from May 1st 2016 to the Labor Day weekend, counting only the money those films make domestically (US and Canada) in that period. In other words films from March or April might still be making money after May 1st, but they don’t count; films released from May on could start racking up foreign B.O., but that doesn’t count; films released from May on could still be making money into September, but that doesn’t count either. Box Office numbers are generally available late Monday or Tuesday after the weekend closes. For the last seven or so years, I have been using box office numbers from Yahoo Box Office which gets their numbers in turn from Box Office Mojo. So what you will be doing is figuring out what 10 films will make the most money, and putting them in order of what you think they will gross at the box office. BUT, in addition to your top 10, you get to pick 3 “Dark Horses”- films you think *might* make it, but that you are not confident enough about to put into the top 10 proper.
</p>

<h1>Scoring</h1>
<p>
  <li>Getting number 1 or number 10 dead-on gets you 13 points (each).</li>
  <p>The rest of the scoring goes like this:</p>

  <li>10 points for numbers 2-9 dead-on
  <li>7 points if your pick was only one spot away from where it ended up
  <li>5 points if it was two spots away
  <li>3 points if your pick is anywhere in the Top 10
  <li>1 point for each dark horse that makes it into the Top 10
</p>

<p>
  The scoring is tabulated so that you get the SINGLE HIGHEST point value for each pick- that is, if you get number ten right, you don’t get 13+3, you only get 13.
</p>
